html {
  background-color: var(--bg-full);
}

main {
  background-color: var(--bg-full);
}

.main-container {
    max-width: 80vw;
    height: 80vh;
    margin-left: 320px;
    margin-right: 56px;
}

/* DISPLAY * TOTAL e vamos passar rapidamente por cada um deles
block: Um elemento com display: block sempre inicia em uma nova linha e ocupa toda a largura disponível.
Ele empilha verticalmente um sobre o outro.

inline: Um elemento com display: inline não inicia em uma nova linha e apenas ocupa o espaço necessário para o conteúdo.
Elementos inline não aceitam largura (width) e altura (height).

inline-block: Um elemento com display: inline-block combina características de elementos inline e block.
Ele não inicia uma nova linha e permite a definição de largura e altura.

flex: A propriedade display: flex é usada para criar um contêiner flexível.
Os itens dentro do contêiner flexível podem ser ajustados em termos de tamanho, ordem e alinhamento.

grid: A propriedade display: grid é usada para criar um contêiner de layout em grade.
Permite definir um layout bidimensional com linhas e colunas, facilitando o posicionamento de elementos.

inline-flex:Similar ao flex, mas o contêiner flexível é tratado como um elemento inline.

table, table-row, table-cell: Esses valores de display são usados para criar layouts semelhantes a tabelas.

none: Um elemento com display: none é completamente removido do fluxo de layout e não é renderizado na tela.
*/

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background: linear-gradient(19deg, rgba(144,21,21,1) 15%, rgba(92,3,3,1) 50%, rgba(87,182,204,1) 85%);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-subcomponents);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: var(--color-words);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: var(--color-words);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--color-words);
    background-color: var(--color-words-button);
    font-size: 16px;
    font-weight: 700;
    border: 1px solid var(--color-words);
    border-radius: 40px;
}

/* HOVER */

.header__search:hover {
    border: 1px solid var(--bg-full);
  }
  
  .header__login .subscribe:hover {
    transform: scale(1.04);
    color: var(--color-words);
  }
  
  .header__login .login:hover {
    transform: scale(1.04);
  }
  /* FIM HOVER */

    /* PLAYLIST */
    .playlist-container {
        height: 76vh;
        padding-top: 16px;
        margin: 10px;
        border-radius: 10px;
        background: linear-gradient(19deg, rgba(144,21,21,1) 15%, rgba(92,3,3,1) 50%, rgba(87,182,204,1) 85%);
      }
      
      .playlist {
        margin: 24px;
      }
      
      .playlist #greeting {
        color: var(--color-words);
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 48px;
      }
      
      .playlist .session {
        color: var(--color-words);
        font-size: 24px;
        font-weight: 700;
      }
      
      /* SCROLL */
      .offer__scroll-container {
        max-height: 55vh;
        margin: 24px;
        overflow-y: auto;
      }
      
      .offer__scroll-container::-webkit-scrollbar {
        width: 1px;
      }
      
      .offer__scroll-container::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      /* FIM SCROLL */
      
      .offer__list-item {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
      
        /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
        display: grid;  /* define o modelo de layout do elemento como uma grade */
        gap: 16px;
        grid-gap: 32px;  /* não é usado mais */
        margin: 0 auto;
      }
      
      /* POSITION */
      /* principais são static, relative, absolute, fixed, e sticky. */
      
      .cards {
        position: relative; /* relative:
                                Comportamento em relação a si mesmo: O elemento é posicionado em relação à sua posição original.
                                Mantém espaço original: O espaço original que o elemento ocuparia não é alterado, mas você pode movê-lo com top, right, bottom ou left. */
        width: 220px;
        height: 200px;
        overflow: hidden;
        border-radius: 8px;
      }
    
      .cards span {
        padding: 16px;
        position: absolute;
        /* absolute:
                                Comportamento em relação ao ancestral posicionado mais próximo ou ao elemento raiz (se nenhum ancestral estiver posicionado).
                                Remove do fluxo normal: O elemento é removido do fluxo normal do documento, o que significa que outros elementos agem como se o elemento não estivesse presente. */
        color: var(--color-words);
        font-size: 24px;
        font-weight: 700;
        text-shadow: 2px 2px 2px black;
      }
      
      /* COLOR CARDS */
      .card1 {
        background: linear-gradient(19deg, rgba(254,255,0,1) 0%, rgba(230,212,44,1) 70%, rgba(0,0,0,1) 100%);
      }
      .card2 {
        background: linear-gradient(19deg, rgba(0,0,0,1) 0%, rgba(28,27,19,1) 70%, rgba(255,255,255,1) 100%);
      }
      .card3 {
        background: linear-gradient(19deg, rgba(22,40,21,1) 0%, rgba(27,85,22,1) 70%, rgba(111,180,118,1) 100%);
    
      }
      .card4 {
       background: linear-gradient(19deg, rgba(251,0,0,1) 0%, rgba(170,26,26,1) 70%, rgba(255,215,0,1) 100%);
      }
      .card5 {
        background: linear-gradient(19deg, rgba(128,128,128,1) 0%, rgba(173,173,173,1) 70%, rgba(255,0,0,1) 100%);
      }
      .card6 {
        background: linear-gradient(19deg, rgba(138,43,226,1) 30%, rgba(30,144,255,1) 70%, rgba(255,0,0,1) 100%);
      }
      .card7 {
        background: linear-gradient(19deg, rgba(255,0,0,1) 0%, rgba(30,38,255,1) 70%, rgba(175,170,255,1) 100%);
      }
      .card8 {
        background: linear-gradient(19deg, rgba(30,38,255,1) 0%, rgba(249,255,0,1) 70%, rgba(249,255,0,1) 100%);
      }
      .card9 {
        background: linear-gradient(19deg, rgba(255,0,0,1) 0%, rgba(249,255,0,1) 70%, rgba(249,255,0,1) 100%);
      }
      .card10 {
        background: linear-gradient(19deg, rgba(0,9,255,1) 0%, rgba(50,75,255,1) 70%, rgba(255,0,0,1) 100%);
      }
      .card11 {
        background: linear-gradient(19deg, rgba(0,9,255,1) 0%, rgba(50,75,255,1) 70%, rgba(255,255,255,1) 100%);
      }
      .card12 {
        background: linear-gradient(19deg, rgba(255,145,0,1) 0%, rgba(255,232,50,1) 70%, rgba(255,218,0,1) 100%);
      }
      .card13 {
        background: linear-gradient(19deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(0,5,255,1) 100%);
      }
      .card14 {
        background: linear-gradient(19deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(0,0,0,1) 100%);
      }
      .card15 {
        background: linear-gradient(19deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 70%, rgba(0,0,0,1) 100%);
      }
      /* FIM COLOR CARDS */
      
      .offer__list-item img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 130px;
        width: 100px;
        transform: rotate(25deg) translate(22%, -2%);
        border-radius: 5px;
      }
      
      /* CARD ARTISTA */
      
      .hidden {
        display: none;
      }
      
      #result-character {
        width: 1000px;
        display: flex;
        gap: 50px;
        padding: 20px 40px;
      }
      
      .character-card {
        height: 470px;
        width: 350px;
        background: var(--bg-subcomponents);
        border-radius: 8px;   
        isolation: isolate;
        padding: 16px;
        position: relative;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
    
      .character-card:hover {
        background-color: var(--bg-subcomponents-effects);
      }
      
      .card-img {
        position: relative;
        height: 0px;
        width: 350px;
        padding-bottom: 115%;
        margin-bottom: 10px;
      }
      
      .character-img {
        height: 400px;
        width: 350px;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 50%;
      }
      
      .card-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--color-words);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 62px;
      }
      
      .card-text a {
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
      }
      
      .character-name {
        box-sizing: border-box;
        margin-block: 0px;
        font-size: 16px;
        font-weight: 700;
        padding-block-end: 8px;
      }
      
      .character-categorie {
        color: var(--color-words);
        font-weight: 400;
        font-size: 0.875rem;
      }
      
      .simbol {
        position: relative;
      }
      
      .simbol img{
        width: 60px;
        position: absolute;
        left: 270px;
        top: 170px;
        padding: 18px;
        border-radius: 100%;
        font-size: 14px;
        opacity: 0;
        transition: all ease 0.4s;
      }
      
      .character-card:hover .simbol img {
        opacity: 1;
        transform: translateY(-20px);
      }
    
      #descriptionHeroSpan {
        display: flex;
        justify-content: center;
        width: 500px;
        border: 1px solid var(--bg-subcomponents-effects);
        border-radius: 5px;
        padding: 10px;
        color: var(--color-words);
        background-color: var(--bg-subcomponents);
        overflow-wrap:break-word;
        text-align: center;  
      }
    
      /* FIM CARD ARTISTA */